<h2>Products</h2>

<div *ngFor="let product of products">
  <div class="prod" *ngIf="product.category === checker">
    <h3>
      <a [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
  
    <img [src]="product.img[0]" width="200px">
  
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>

    <a target="_blank" [href]="product.link">
      <button type="button">
        Share
      </button>
    </a>

    <button class="delete" type="submit" (click)="deleteProduct(products.indexOf(product))"><img src="https://cdn-icons-png.flaticon.com/512/3687/3687412.png"></button>

    <button class="like" type="submit" (click)="product.likes=product.likes+1"><img src="https://cdn.pixabay.com/photo/2020/09/30/07/48/heart-5614865_1280.png"><div>{{ product.likes }}</div></button>
    <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>
  </div>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->