<div class="category-header">
    Categories
</div>

<div class="categories">
  <img id="sm" src="https://fs.npstatic.com/userfiles/7687254/image/Best_Smartphones_October_2023-w810h462.jpg">
  <div class="smartphones">
    <a routerLink="./product-list" (click)="selectCategory('Smartphones')"><span>Smartphones</span></a>
  </div>
  <img id="hf" src="https://media.architecturaldigest.com/photos/620adef55f756ccc7906dd01/16:9/w_2560%2Cc_limit/2-14%2520headphones%2520v2.jpg">
  <div class="headphones">
    <a routerLink="./product-list" (click)="selectCategory('Headphones')"><span>Headphones</span></a>
  </div>
  <img id="pl" src="https://andpro.ru/upload/iblock/1f2/k8yol2moc4hx8x5ycnp4i1srhqpqpc03/monoblock_laptop_PC_mini.jpg">
  <div class="pcs_and_laptops">
    <a routerLink="./product-list" (click)="selectCategory('PCs and Laptops')"><span>PCs and Laptops</span></a>
  </div>
  <img id="tvp" src="https://smlider.ru/upload/iblock/148/83llt0pwtpr7zz9z30mtbqh8xv3qytex.png">
  <div class="tv">
    <a routerLink="./product-list" (click)="selectCategory('TVs')"><span>TVs</span></a>
  </div>
</div>