<app-top-bar></app-top-bar>

<!-- <router-outlet></router-outlet> -->
<!-- <div class="category-header">
    Categories
</div>

<div class="categories">
    <div class="smartphones">
      <a routerLink="product-list"><span>Smartphones</span></a>
    </div>
    <div class="headphones">
      <a><span>Headphones</span></a>
    </div>
    <div class="pcs_and_laptops">
      <a><span>PCs and Laptops</span></a>
    </div>
    <div class="tv">
      <a><span>TVs</span></a>
    </div>
</div> -->


<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->